server:
  port: 8888

spring:
  # 配置数据源
  datasource:
    driverClassName: com.mysql.cj.jdbc.Driver
    url:
    username:
    password:
  # redis
  redis:
    database: 0
    host: localhost
    port: 6379
    password:
    lettuce:
      pool:
        max-active: 8
        max-wait: -1
        max-idle: 8
        min-idle: 0

# mybatis-plus
mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

# JWT
jwt:
  secret:  # 密钥
  expiration: 604800 # 过期时长，以秒为单位