server:
  port: 9999

spring:
  profiles:
    # 额外配置文件
    include: common-common, chat-common

chat:
  pre-queue: chat-preQueue
  post-queue-prefix: chat-postQueue
  pre-queue-back: chat-preQueue-back
  activeUser-set-prefix: active-user-set