<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.codewld.imall.mapper.UmsAdminRoleRelationMapper">
    <insert id="insert">
        INSERT INTO
        ums_admin_role_relation(admin_id, role_id)
        VALUES
        <foreach collection="roleIdList" item="item" separator=",">
            (#{adminId}, #{item})
        </foreach>
    </insert>

    <delete id="deleteByAdminId">
        DELETE
        FROM ums_admin_role_relation
        WHERE admin_id = #{adminId}
    </delete>

    <delete id="deleteByRoleId">
        DELETE
        FROM ums_admin_role_relation
        WHERE role_id = #{roleId}
    </delete>

    <select id="selectRoleMarkListByAdminId" resultType="pers.codewld.imall.model.vo.UmsRoleMarkVO">
        SELECT ums_role.id, ums_role.name, ums_role.code
        FROM ums_role,
             ums_admin_role_relation
        WHERE ums_role.id = ums_admin_role_relation.role_id
          AND ums_admin_role_relation.admin_id = #{adminId}
    </select>
</mapper>