<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.codewld.imall.mapper.UmsRoleMenuRelationMapper">

    <insert id="insert">
        INSERT INTO
        ums_role_menu_relation(role_id, menu_id)
        VALUES
        <foreach collection="menuIdList" item="item" separator=",">
            (#{roleId}, #{item})
        </foreach>
    </insert>

    <delete id="deleteByRoleId">
        DELETE
        FROM ums_role_menu_relation
        WHERE role_id = #{roleId}
    </delete>

    <delete id="deleteByMenuId">
        DELETE
        FROM ums_role_menu_relation
        WHERE menu_id = #{menuId}
    </delete>

    <select id="selectMenuIdByRoleId" resultType="java.lang.Long">
        SELECT menu_id
        FROM ums_role_menu_relation
        WHERE role_id = #{roleId}
    </select>

    <select id="selectMenuIdByRoleCode" resultType="java.lang.Long">
        SELECT ums_role_menu_relation.menu_id
        FROM ums_role,
             ums_role_menu_relation
        WHERE ums_role.id = ums_role_menu_relation.role_id
          AND ums_role.`code` = #{roleCode}
    </select>
</mapper>